aiohttp
anytree
aria2p
appdirs
attrdict
beautifulsoup4
cloudscrape
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
hachoir
js2py
lk21
lxml
pillow
psutil
psycopg2-binary
pybase64
Pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
qbittorrent-api
requests
speedtest-cli==2.1.3
telegraph
tenacity
TgCrypto
torrentool
urllib3
yt_dlp
pyaes
